:root {
	scroll-behavior: smooth;

	--primary-100: #d4eaf7;
	--primary-200: #b6ccd8;
	--primary-300: #3b3c3d;
	--accent-100: #71c4ef;
	--accent-200: #00668c;
	--text-100: #1d1c1c;
	--text-200: #313d44;
	--bg-100: #fffefb;
	--bg-200: #f5f4f1;
	--bg-300: #cccbc8;
	--bg-400: #a8a7a4;
}

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	font-family: "Roboto", sans-serif;
	background-color: var(--bg-200);
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}

/* Header */
header {
	display: flex;
	height: 70px;
	background-color: var(--bg-300);
	box-shadow: 0 1px 3px 0.2px var(--bg-400);
	position: sticky;
	top: 0;
}
p {
	color: var(--text-200);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--text-100);
}

/* Navbar */
.nav-container {
	width: 100%;
	display: flex;
	margin: 0 2rem;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.logo a {
	color: var(--accent-200);
	font-weight: 500;
	font-size: 1.14rem;
}
.nav-list {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
.nav-list li a {
	color: var(--accent-200);
}
.nav-list li a:hover {
	color: var(--text-200);
}
.logo a:hover {
	color: var(--text-200);
}

/* Humburger */
.hamburger {
	display: none;
	cursor: pointer;
}
.line {
	width: 20px;
	height: 2px;
	background-color: var(--text-100);
	background-color: var(--accent-200);
	transition: transform 0.3s, opacity 0.3s;
}
.line2 {
	margin: 4px 0;
}
.hamburger:hover .line {
	background-color: var(--text-200);
}

/* Main */
main {
	display: flex;
	justify-content: center;
	margin: 1rem;
	gap: 1rem;
}

/* Sidebar */
.sidebar {
	display: flex;
	width: 600px;
	flex-direction: column;
	background-color: var(--bg-300);
	padding: 20px;
	box-shadow: 0 2px 3px 0.2px var(--bg-400);
	border-radius: 10px;
	gap: 20px;
}
.sidebar-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}
.profile-box {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	background-color: var(--bg-200);
	box-shadow: 0 2px 3px 0.2px var(--bg-300);
}
.profile-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.profile-box h2 {
	color: var(--text-100);
}

.sidebar-info-more {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.contact-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.contact-item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.item-box {
	width: 40px;
	height: 40px;
	border-radius: 15%;
	background-color: var(--bg-400);
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-list {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.social-item {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* Separator */
.separator {
	width: 100%;
	height: 2px;
	background-color: var(--bg-400);
}

/* Content */
.content {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-300);
	padding: 20px;
	box-shadow: 0 2px 3px 0.2px var(--bg-400);
	border-radius: 10px;
	gap: 20px;
}

/* Content Item */
.content-item {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: var(--bg-200);
	padding: 10px;
	border-radius: 10px;
}
.content-item .separator {
	width: 80px;
}
.content-title {
	color: var(--text-100);
	font-size: 1.2rem;
}
.content-about p {
	line-height: 1.5;
	text-align: justify;
}

/* Education */
.education-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.education-item {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.education-item .title h3 {
	font-weight: 500;
}
.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Experience */
.experience-content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.experience-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.experience-title {
	font-weight: 500;
}

/* Skill */
.skill-content {
	display: flex;
	gap: 20px;
	justify-content: space-evenly;
}
.skill-item {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
}
.skill-item img {
	width: 30px;
	height: 30px;
}
.skill-item p {
	font-size: 12px;
}



/* Footer */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-300);
	padding: 20px;
	box-shadow: 0 2px 3px 0.2px var(--bg-200);
}

/* Mode Mobile */
@media screen and (max-width: 768px) {
	.nav-list {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 70px;
		left: 0;
		right: 0;
		background-color: var(--bg-200);
		box-shadow: 0 2px 3px 0.2px var(--bg-300);
		padding: 1rem;
		opacity: 0.7;
		z-index: 1;
	}
	.nav-list li {
		margin-bottom: 1rem;
	}
	.hamburger {
		display: flex;
		flex-direction: column;
		cursor: pointer;
	}
	.nav-list.active {
		display: flex;
		align-items: center;
		gap: 0.7rem;
	}
	.line1.rotate-right {
		position: fixed;
		right: 2rem;
		transform: rotate(45deg);
	}
	.line3.rotate-left {
		position: fixed;
		right: 2rem;
		transform: rotate(-45deg);
	}

	.line2.hidden {
		display: none;
	}

	main {
		flex-direction: column;
		align-items: center;
	}
	.sidebar {
		width: 100%;
	}
}